@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;700&family=Sen:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Sen', sans-serif;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
    /* padding: 50px; */
}

h1{
    margin: 20px 0;
}

form{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-group{
    height: 65px;
    
}

label{
    position: relative;
    bottom: 5px;
}

input{
    width: 100%;
    height: 34px;
    padding: 20px 10px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    transition: all linear 0.3s;
}

p {
    text-transform: capitalize;
    margin-top: 3px;
    font-weight: 700;
}

/* input:valid{
    border: 1px solid green;
}

input:invalid{
    border: 1px solid red;
} */

.sub_btn{
    cursor: pointer;
    color: aliceblue;
    background-color: blue;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    transition: all linear 0.3s;
}

.sub_btn:hover{
    filter: brightness(200%);
    background-color: rgb(5, 86, 5);
}

button:focus{
    outline: none;
}

.message-container{
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    color: black;
    padding: 10px;
}

.user-list {
    width: 90%;
    height: 100%;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-list-header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.user-item {
    list-style-type: none;
    border-bottom: 1px solid #b07070;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
}

.user-item:last-child {
    border-bottom: none;
}

.user-actions {
    display: flex;
    gap: 10px;
}

.edit-btn, .delete-btn {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn {
    background-color: #e74c3c;
}